*__pycache__*
.venv*
BUILD*
src/subaligner.egg-info*
dist*
*.pyc
.idea
.vscode
*.DS_Store*
.eggs
tests/subaligner/resource/test.mp4.aac
tests/subaligner/resource/test.mp4.wav
tests/subaligner/training.log
tests/subaligner/output.log
training.log
output.log
program.prof

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/