*__pycache__*
.venv*
build/*
dist*
*.pyc
.vscode
.idea
*.DS_Store*
.eggs
tests/subaligner/resource/test.mp4.aac
tests/subaligner/resource/test.mp4.wav
tests/subaligner/resource/*_aligned.*
tests/subaligner/resource/test_mono.wav
tests/subaligner/resource/test.mpl2_srt.txt
tests/subaligner/training.log
tests/subaligner/output.log
*-output*
*output.log*
*.prof
*.lprof
site/build
site/source/subaligner.rst
site/source/modules.rst
site/source/subaligner.subaligner_*.rst
site/source/subaligner.lib.rst
*subaligner.egg-info*
examples/tmp
examples/training.log
docs/*.html
scripts*
!docker/scripts
misc/tmp
wheels*
/training.log
Pipfile.lock

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/