name: Docker Hub

on:
  release:
    types: [ published ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER_NAME }}
          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}

      - name: Extract the tag
        id: tag
        run: |
          echo "SUBALIGNER_TAG=${GITHUB_REF/refs\/tags\/v/}" >> $GITHUB_ENV

      - name: Free disk space
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true

      - name: Build and push the latest image
        id: docker_build_latest
        uses: docker/build-push-action@v4
        with:
          context: ./docker
          file: "./docker/Dockerfile-Ubuntu20"
          build-args: |
            "RELEASE_VERSION=${{ env.SUBALIGNER_TAG }}"
          platforms: linux/amd64,linux/arm64
          allow: network.host
          github-token: ${{ github.token }}
          tags: |
            baxtree/subaligner:latest
            baxtree/subaligner:${{ env.SUBALIGNER_TAG }}
            baxtree/subaligner:${{ env.SUBALIGNER_TAG }}.u20
          push: true

      - name: Remove the local latest image
        run: |
          docker rmi -f baxtree/subaligner:latest
          docker rmi -f baxtree/subaligner:${{ env.SUBALIGNER_TAG }}
          docker rmi -f baxtree/subaligner:${{ env.SUBALIGNER_TAG }}.u20

      - name: Build and push the Ubuntu 22 image
        id: docker_build_u22
        uses: docker/build-push-action@v4
        with:
          context: ./docker
          file: "./docker/Dockerfile-Ubuntu22"
          build-args: |
            "RELEASE_VERSION=${{ env.SUBALIGNER_TAG }}"
          platforms: linux/amd64,linux/arm64
          allow: network.host
          github-token: ${{ github.token }}
          tags: baxtree/subaligner:${{ env.SUBALIGNER_TAG }}.u22
          push: true

      - name: Remove the local Ubuntu 22 image
        run: |
          docker rmi -f baxtree/subaligner:${{ env.SUBALIGNER_TAG }}.u22

      - name: Build and push the Fedora 34 image
        id: docker_build_fed34
        uses: docker/build-push-action@v2
        with:
          context: ./docker
          file: "./docker/Dockerfile-Fedora34"
          build-args: |
            "RELEASE_VERSION=${{ env.SUBALIGNER_TAG }}"
          platforms: linux/amd64,linux/arm64
          allow: network.host
          github-token: ${{ github.token }}
          tags: baxtree/subaligner:${{ env.SUBALIGNER_TAG }}.fed34
          push: true

      - name: Remove the local Fedora 34 image
        run: |
          docker rmi -f baxtree/subaligner:${{ env.SUBALIGNER_TAG }}.fed34

      - name: Build and push the ArchLinux image
        id: docker_build_arch
        uses: docker/build-push-action@v2
        with:
          context: ./docker
          file: "./docker/Dockerfile-ArchLinux"
          build-args: |
            "RELEASE_VERSION=${{ env.SUBALIGNER_TAG }}"
          platforms: linux/amd64
          allow: network.host
          github-token: ${{ github.token }}
          tags: baxtree/subaligner:${{ env.SUBALIGNER_TAG }}.arch
          push: true

      - name: Remove the local ArchLinux image
        run: |
          docker rmi -f baxtree/subaligner:${{ env.SUBALIGNER_TAG }}.arch
