name: Docker Hub Release

on:
  release:
    types: [ published ]
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER_NAME }}
          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}

      - name: Extract the tag
        id: tag
        run: |
          echo "SUBALIGNER_TAG=${GITHUB_REF/refs\/tags\/v/}" >> $GITHUB_ENV

      - name: Free disk space
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true

      - name: Build and push the latest image
        id: docker_build_latest
        uses: docker/build-push-action@v4
        with:
          context: ./docker
          file: "./docker/Dockerfile-Ubuntu22"
          build-args: |
            "RELEASE_VERSION=${{ env.SUBALIGNER_TAG }}"
          platforms: linux/amd64,linux/arm64
          allow: network.host
          github-token: ${{ github.token }}
          tags: |
            baxtree/subaligner:latest
            baxtree/subaligner:${{ env.SUBALIGNER_TAG }}
            baxtree/subaligner:${{ env.SUBALIGNER_TAG }}.u22
          push: true
